.SeeMoreButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px auto;
}

.button {
    background-color: white;
    color: blueviolet;
    border: 1px solid blueviolet;
    border-radius: 21px;
    font-size: 1rem;
    padding: 1%;
}

.button:hover {
    background-color: blueviolet;
    color: white;
    font-size: 110%;
    cursor: pointer;
}