nav {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 1rem;
    max-width: 1200px;
    padding: 2%;
}

nav .image-finder {
    margin-right: auto;
}

nav a {
    text-decoration: none;
}

nav a.active {
    color: blueviolet;
    border-bottom: 1px solid blueviolet;
    margin-bottom: 2%;
}