
*{
    box-sizing: border-box;
  }

body, html {
    font-size: 16px; //referent font-size from which rem will be calculated
  font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}