.container {
    width: 30%;
    margin: 10px;
}

.image {

    background-size: cover;
    background-position: center;
    border-radius: 6%;
    padding: 50%;
    position:relative;
    width: 100%;
}

.subtitle {
    font-size: 0.7rem;
    position: absolute;
    color: white;
    bottom: 1%;
    right: 5%;
    text-decoration: none;
}

.subtitle:hover {
    cursor: pointer;
    font-style: italic;
   
}

.bookmark-icon {
    color: white;
    position: absolute;
    top: 5%;
    right: 5%;
}

.bookmark-icon:hover {
    cursor: pointer;
    transform: scale(1.1);
}